<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>영화 리뷰</title>
    <link rel="stylesheet" href="./static/styles/index.css" />
  </head>
  <body>
    <div id="root">
      <!--${MOVIE_ITEMS_PLACEHOLDER}-->

      <footer class="footer">
        <p>&copy; 우아한테크코스 All Rights Reserved.</p>
        <p><img src="../assets/images/woowacourse_logo.png" width="180" /></p>
      </footer>
    </div>
    <!--${MODAL_AREA}-->
  </body>
</html>
