<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/styles/reset.css" />
    <link rel="stylesheet" href="../assets/styles/main.css" />
    <link rel="stylesheet" href="../assets/styles/modal.css" />
    <link rel="stylesheet" href="../assets/styles/tab.css" />
    <link rel="stylesheet" href="../assets/styles/thumbnail.css" />
    <script src="./"></script>
    <title>영화 리뷰</title>
  </head>
  <body>
    <div id="wrap">
      <!--${APP_AREA}-->
    </div>
    <!--${MODAL_AREA}-->
    <script src="/dist/bundle.js"></script>
  </body>
  <!--${INIT_DATA_AREA}-->
</html>
